*{
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 50px;
    width: 100%;
    background-size: cover;
    background-image: url("/images/amazon_logo.png");

}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

.add1{
    color: #cccccc;
    font-size: 0.85em;
    margin-left:15px;
}
.add2{
    color: white;
    font-size: 1em;
    margin-left: 3px;
    font-weight: 700;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 600px;
    height: 35px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1em;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    background-color: rgb(252, 186, 43);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
    cursor: pointer;
}

span{
    font-size: 0.75em;

}
.nav-sec{
    font-size: 0.85em;
    font-weight: 700;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85em;
    font-weight: 700;
}
.panel{
    display: flex;
    background-color: #242e2e;
    color: white;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops{
   
    width: 70%;
    font-size: 0.85em;
    
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
    cursor: pointer;
}
.panel-deals{
    font-weight: 600;
}
.hero-section{
    background-image: url(/images/hero-img.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: rgb(247, 238, 238);
    color: #0f1111;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
    font-size: 0.85em;
    
}